body {
    height: 5000px;
    
  }
        

.section1{
    background-color: #edd9e6;
}
#info{
   
    display: none;
    background-color:  #bea9c2;
}



.up {
    position: fixed;
    bottom: 10px;
    right: -30px;
    background-color: #271946;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    font-family: Arial, Tahoma;
    cursor: pointer;
    transition: 0.2s;
  }
  .up.show {
    right: 10px;
  }